@import "normalize";

 *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-padding-start: 0;
    -webkit-padding-after: 0;
    -webkit-padding-before: 0;
    -webkit-padding-end: 0;
}
body {
	font-family: myriad pro;
}
video {
	width: 100%;
	height: auto;
	background-color: black;
	display:block;

}

#ui {
	position: fixed;
	top: 1em;
	left: 1em;
	width: 33%;
	background-color: white;
	padding: 1em;

	.timer {
		font-size: 2em;
		padding: 1em;
		.time {
			text-align: center;
		}
	}

	ul {
		margin: 0;
		display: inline-block;
		list-style-type: none;
		width: 100%;
	}

 .teamOneUIWrap, .teamTwoUIWrap {
 	padding: 1em;
	.teamOneUI, .teamTwoUI {
		width: 70%;
				}
	.scoreOneUI, .scoreTwoUI {
		width: 30%
		}
	li {
		    float: left;
		}
		}}

#controls {
	margin: 1em;
	padding: 0em;
	border: 1px solid black;

	ul {
		display: inline-block;
		list-style-type: none
	}

	.teamOne, .teamTwo, .clock, .mgmt {
		float: left;
		padding: 0em;
		margin: 0;
		width: 25%;
		border-right: 1px solid black;
		.score {
			background-color: rgb(28,195,98);
		}
		.penalty {
			background-color: rgb(255,103,88);
		}

		li {
			border-bottom: 1px solid black;
			padding: 1em;

			.sub {
				width: 25%;
				float: right;
				text-align: center;
				margin: -1em;
				padding: 1em;
				border-left: 1px solid black
			}

			&:last-child { 
				border: none
			}
		}

		&:nth-last-child(2) {
			border: none
		}

	}

}