doctype html
html(ng-app="doUI")
  head
    
    title= title
    link(rel='stylesheet', href='/css/style.css')

  body(ng-view)


    script(type='text/javascript', src='/bower_components/angular/angular.min.js')
    script(type='text/javascript', src='/bower_components/angular-resource/angular-resource.min.js')
    script(type='text/javascript', src='/bower_components/angular-cookies/angular-cookies.js')
    script(type='text/javascript', src='/bower_components/angular-sanitize/angular-sanitize.js')
    script(type='text/javascript', src='/bower_components/angular-route/angular-route.min.js')


    script(type='text/javascript', src='/js/app.js')
    script(type='text/javascript', src='/js/controllers/doController.js')
    script(type='text/javascript', src='/js/directives/timer.js')
    script(type='text/javascript', src='/js/services/services.js')

