doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')

  body(ng-app="doUI")
    input(type='text', ng-model='team', placeholder='Enter team name')
      span {{team}}

    link(rel='javascript', href='/bower_components/angular/angular.min.js')
    link(rel='javascript', href='/bower_components/angular-resource/angular-resource.min.js')
    link(rel='javascript', href='/bower_components/angular-route/angular-route.min.js')

    link(rel='javascript', href='/js/app.js')
    link(rel='javascript', href='/js/controllers.js')
    link(rel='javascript', href='/js/timer.js')
    link(rel='javascript', href='/js/services.js')
