<div id="ui">
    <ul class="timerNew">
        <li>
            <timer interval="1000" countdown="countdownVal" autostart="false">{{millis | date:'mm:ss'}}</timer>
        </li>

        <li ng-click="startClock()" ng-disabled="timerRunning" class="control">Start/Resume</li>
        <li ng-click="stopClock()" ng-disabled="!timerRunning" class="control">Stop</li>
        <li ng-click="resetClock()" class="control">Reset</li>

    </ul>
    <ul>
        <li ng-repeat="team in teams">
            <span>{{team.name}} &nbsp;&nbsp; {{team.score[0].id}}</span>


            <li class="control">
                <input type="text" ng-model="teams[0].name" placeholder="Enter team name">
            </li>

            <li class="control" ng-click="teams[0].score = teams[0].score + 1" ng-model="teams[0].score">Add point</li>

            <li class="control">
                <input type="text" ng-model="teams[1].name" placeholder="Enter team name">

            </li>
            <li class="control" ng-click="teams[1].score = teams[1].score + 1" ng-model="teams[1].score">Add point</li>

    </ul>
</div>
