#ui
      ul.timerNew
        li
          timer(interval='1000', countdown='countdownVal', autostart='false') {{millis | date:'mm:ss'}}
        li.control(ng-click='startClock()', ng-disabled='timerRunning') Start/Resume
        li.control(ng-click='stopClock()', ng-disabled='!timerRunning') Stop
        li.control(ng-click='resetClock()') Reset
      ul
        li(ng-repeat='team in teams')
          span {{team.name}}    {{team.score[0].id}}
          li.control
            input(type='text', ng-model='teams[0].name', placeholder='Enter team name')
          li.control(ng-click='teams[0].score = teams[0].score + 1', ng-model='teams[0].score') Add point
          li.control
            input(type='text', ng-model='teams[1].name', placeholder='Enter team name')
          li.control(ng-click='teams[1].score = teams[1].score + 1', ng-model='teams[1].score') Add point
